﻿.ui-autocomplete {
    background: #e9e9e9;
    font-size: 13px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
img#uploadPreview {
    margin-bottom: 10px;
    width: 100%;
    max-width: 250px;
}
div#alert-box {
    display: none;
}
div#alert-box label#locker-message {
    text-align: center;
}