/**
 * Grid container
 */
#main {
	/*margin-top: 9em;*/
}
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: auto;
  padding: 0;
}
#tiles li:hover img{
	opacity:0.8;
}
/**
 * Grid items
 */
#tiles li {
 	/*width: 280px;*/
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	/*display: none;*/
    display: list-item;
	cursor: pointer;
	border-radius: 0.2em;
    overflow:hidden;
    position:absolute;
    /*background-color:#dedede*/
}

#tiles li img{
	border-top-left-radius:0.2em;
	border-top-right-radius:0.2em;
}
#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
 	display: block;
     height: 100%;
     width: 100%;
     margin:0 auto;
}

/**
 * Grid item text
 */

footer {
  text-align: center;

}

footer a {
  color: #435DC5;
  text-decoration: none;
}

/**
 * Progress bar for imagesLoaded
 */
.progress-bar {
  background-color: #0BC20B;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.3s ease-out;
     -moz-transition: width 0.3s ease-out;
       -o-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
}

/**
 * Placerholder css
 */
.wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}

.example-tiles {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

.example-tiles li {
  display: block;
  list-style-type: none;
  float: left;
  margin: 5px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.example-tiles a,
.example-tiles a:hover {
  color: #555;
  background-color: #eee;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding: 5px 8px;
  border-radius: 3px;
}

.tiles a:hover {
  background-color: #ddd;
}
/*--media queries for 640px-monitors-*/
@media only screen and (max-width:640px) and (min-width:480px) {
	#main {
		margin-top: 7em;
	}
    div.logo {
        display: none;
    }
}
/*--media queries for 480px-monitors-*/
@media only screen and (max-width:480px) and (min-width:320px) {
	#main {
		margin-top: 9.5em;
	}
    div.logo {
        display: none;
    }
}
/*--media queries for 320px-monitors-*/
@media only screen and (max-width:320px) and (min-width:240px) {
	#main {
		margin-top: 9em;
	}
	#tiles li {
		width: 266px;
	}
    div.logo {
        display: none;
    }
}
/*.list-group { 
    margin-top: 5em;

}*/
.panel-default {
    cursor:pointer;
}
.gallery {
    margin-top: 8em;
}

.post-info{
  text-align: justify;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
}

.post-info h3{
    font-size: 1.3em;
}

.post-info span.tag{
    font-size:12px;
}

.alert.alert-info {
    margin-top:8em;
}
.list-group h1 {
    text-align:center;
}
.container {
    padding-top: 8em;
}

#search-results-block{
    background-color: rgba(0,0,0,0.7);
    position:fixed;
    overflow-x:hidden;
    overflow-y: auto;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;
}

#search-results-block h1{
    color:white;
}

#search-results .loader{
    color:white;
    margin-top:6em;
    text-align: center;
}

body.search-active{
    overflow:hidden;
    height:100%;
}

#searchCloseBtn {
    position:absolute;
    top:7em;
    right:30px;
    color: lightgray;
    cursor: pointer;
}

#searchCloseBtn:hover{
    color: white;
}

.pagination>.active>a{
    z-index:0!important;
}
