﻿@model NewsDotNet.WebUI.Models.ArchiveViewModel
@using NewsDotNet.WebUI.Models

@{
    ViewBag.Title = "Архив";
}

<div class="wrap">
    <div id="main" role="main">
        <div class="container">
            <ul class="pagination">
                @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
                {
                    <li @if (i == Model.PagingInfo.CurrentPage) { <text> class="active" </text>  }>
                        <a href="@Url.Action("Archive", new { page = i })">@i</a>
                    </li>
                }
            </ul>

            <ul class="list-group">

                @foreach(var articlesForDay in Model.Days)
                {
                    if (articlesForDay.Date==DateTime.Now.ToShortDateString())
                    {
                        <h1>Сегодня</h1>
                    }
                    else if(Convert.ToDateTime(articlesForDay.Date) + ArchiveArticles.tspan == DateTime.Today)
                    {
                        <h1>Вчера</h1>
                    }
                    else
                    {
                        <h1>@NewsDotNetHelpers.DateInRussianLocale(Convert.ToDateTime(articlesForDay.Date), includeTime: false)</h1>
                    }

                    foreach (var Articles in articlesForDay.Articles)
                    {
                        @Html.Partial("ArchiveArticlePartial", Articles)
                    }
                }
            </ul>

            <ul class="pagination">
                @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
                {
                    <li @if (i == Model.PagingInfo.CurrentPage) { <text> class="active" </text>   }>
                        <a href="@Url.Action("Archive", new { page = i })">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>
